<h2 class="confirm-title">Do you want to confirm your order? </h2>
<h3 class="confirm-title">Customer #: {{::cid}}</h3>

<div ng-if="!successOrder">
	<ul class="margin-30">
		<li ng-repeat="product in model.cart" class="margin-30">{{::product.name}}   {{::product.price}}</li>
	</ul>

	<div class="row center-xs">
		<div class="col-xs-10">
			<button class="checkButton" ng-click="model.backToCatalogue()">back</button>
			<button class="checkButton" ng-click="model.checkoutOrder()">confirm</button>
		</div>
	</div>

	<h2 ng-if="error" class="margin-30">
		{{error}}
	</h2>
</div>
<div ng-if="successOrder">
	<h2 class="margin-30">
		Your order is now completed
	</h2>
</div>
